@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        <p>目录</p>
        <input type="text" value="" id="categoryName" />
        <input type="button" id="addCategory" onclick="addCategory();" value="Add Category" />
        <br />
        <br />
        <br />
        <p>博客</p>
        <label>标题</label><input type="text" value="" id="title" />
        <label>内容</label><input type="text" value="" id="content" />
        <label>目录Id</label><input type="text" value="" id="categoryId" />
        <label>标签Id</label><input type="text" value="" id="tagId" />
        <input type="button" id="addBlog" onclick="addBlog();" value="Add Blog" />
        <p>标签</p>
        <input type="text" value="" id="tagName" />
        <input type="button" id="addTag" onclick="addTag();" value="Add Tag" />
    </div>
</body>
</html>
<script src="~/js/jquery.min.js"></script>
<script>
    function addCategory() {
        var categoryName = $('#categoryName').val();

        $.post('@Url.Action("AddCategory","Test")',  { categoryName: categoryName}, function(responseText) {

        });
    }

    function addBlog() {
        var title = $('#title').val();

        var content = $('#content').val();

        var categoryId = $('#categoryId').val();

        var tagId = $('#tagId').val();

        $.post('@Url.Action("AddBlog","Test")', { title, content, categoryId,tagId }, function(responseText) {

        });
    }

    function addTag() {
        var tagName = $('#tagName').val();

        $.post('@Url.Action("AddTag","Test")', { tagName}, function(responseText) {});
    }
</script>